.userpage {
    display: flex;
    padding: 2rem;
    font-family: Ubuntu;
    justify-content: center;
    box-sizing: border-box;
    /* align-items: center; */

}

h2 {
    color: #0a327b;
    margin-bottom: 1rem;
}

.user {
    padding: 1rem 2rem;
    border: 1px solid hsl(219, 12%, 42%);
    border-radius: 10px;
    box-sizing: border-box;
    height: fit-content;
    margin-top: 10rem;
    background-color: hsl(211, 68%, 94%);
}

.user div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0.5rem;
}

span {
    display: flex;
    color: hsl(219, 12%, 42%);
}

.title, .user p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0a327b;
}

@media(max-width: 550px){
    .user {
        width: 100%;
        height: 100%;
    }

    .user div {
        width: 100%;
        height: 100%;
    }

    .address{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
